@import url(mystyles.css);
*{
	box-sizing: border-box;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
body {
	margin: 0;
	background-color: #E5E5E5;
	overflow-x: hidden;
}
html {
	overflow-y: scroll;
}
@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto-Regular.ttf);
}
header {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: black;
}
.container {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}
.tx-center {
	text-align: center;
}
.header_top_nav {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #333333;
	margin-right: 30px;
}
.header_container_div {
	padding-top: 17px;
	font-size: 0px;
	margin-left: 2.6%;
	padding-bottom: 16px;
}
.bg-gray {
	background-color: #E5E5E5;
}
body {
	background-color: #fff;
}
.clearfix {
	clear: both;
}
.header_middle {
	border-bottom: 1px solid #EFEFEF;
	padding-bottom: 20px;
}
.header_middle-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
    padding: 1.7% 0 0 0;
}
.float-left {
	display: flex;
}
.float-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_middle_fl_r_number {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
}
.header_middle_fl_r_button {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	border: 2px solid #F13C6E;
	border-radius: 40px;
	margin-left: 40px;
	width: 170px;
	height: 40px;
	display: inline-block;
	padding: 10px 0px 0px 24px;
}
.header_bottom_div {
	text-align: center;
	font-size: 0px;
	padding: 30px 0 30px 35px;
}
.header_bottom_nav {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
    margin-right: 3.7%;
}
.main_border {
	background-image: url(../images/main_image.png);
	height: 604px;
	max-height: 604px;
	padding: 9.2% 0;
	background-position-x: -9px;
}
.main_border_h1 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	margin: 0;
	color: #ffffff;
	word-spacing: -5px;
}
.main_border_p {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	height: 35px;
	width: 308px;
	color: white;
	margin-bottom: 24px;
	overflow: hidden;
}
.main_border_button {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	border: 2px solid #fff;
	border-radius: 40px;
	width: 170px;
	height: 40px;
	display: block;
	text-align: center;
	padding-top: 10px;
	color: white;
}
.main_items {
	padding-top: 80px;
}
h2 {
	margin: 0;
}
.h2_special_offer {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	word-spacing: 1px;
	margin-bottom: 38px;
}
.card:nth-of-type(4n) {
	margin: 0;
}
.card {
	flex: 1 1 22%;
	max-height: 363px;
	background-color: #FFFFFF;
	text-align: center;
	padding-bottom: 25px;
	margin-bottom: 30px;
}
.card_image img {
	display: block;
	margin: 25px auto 20px auto;
}
.card_desc {
	text-align: center;
	margin-bottom: 15px;
}
.items_card {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 29px;
}
.card_p {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #333333;
	max-width: 195px;
	max-height: 37px;
	overflow: hidden;
	margin: 0 auto 15px auto;
}
.card_span {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #000000;
}
.card_a {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	border-radius: 40px;
	width: 130px;
	height: 35px;
	display: inline-block;
	padding: 10px 0px 0px 0px;
	background-color: #F13C6E;
}
.pink_cards {
	padding-top: 70px;
    display: flex;
    column-gap: 2.6%;
	padding-bottom: 100px;
}
.left {
    flex: 1 1 48%;
}
.right {
    flex: 1 1 48%;
}
.bonus_card_pink {
	background-color: #F13C6E;
    width: 100%;
    height: auto;
    display: flex;
    padding: 6.2% 9% 7% 7%;
    justify-content: space-between;
}
.card_pink_h3 {
	margin: 0;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
	word-spacing: 1px;
	margin-bottom: 20px;
}
.card_pink_p {
	max-width: 231px;
	max-height: 40px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	margin-bottom: 25px;
	overflow: hidden;
}
.card_pink_input {
	width: 225px;
	height: 35px;
	background: #FFFFFF;
	border-radius: 30px;
	border: 0;
	padding-left: 11%;
    padding-right: 11%;
}
.card_pink_p_two {
	max-width: 190px;
	max-height: 40px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	margin-bottom: 25px;
	overflow: hidden;
}
.card_image-right {
	padding: 12% 0 0 0;
}
.card_pink_button {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 40px;
	width: 168px;
	height: 36px;
	display: inline-block;
	padding: 4.3% 0px 0px 16%;
	background-color: #F13C6E;
}
.bonus_card_pink_right {
	background-color: #F13C6E;
	width: 100%;
	height: auto;
	padding-top: 35px;
	background-position: 304px 56px;
	padding-bottom: 37px;
	margin-bottom: 30px;
}
.impuls_div {
	padding-top: 97px;
	display: flex;
	flex-wrap: wrap;
}
.col3 {
	width: 25%;
}
.impuls {
	flex: 1 1 25%;
	background-color: #fff;
	border: 1px solid #EFEFEF;
}
.impuls img {
	display: block;
	margin: 0 auto;
	padding: 35px 0;
}
.fix {
		padding: 74px 0 50px 0;
}
.search_items {
	padding-top: 20px;
}
.footer_item-wrapper {
	display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
}
.footer_item {
    flex: 1 1 25%;
    max-width: 255px;
    display: flex;
    padding-top: 60px;
    flex-direction: column;
}
.footer_item:nth-of-type(4n) {
	margin: 0%;
}
.footer_h3 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 140.62%;
	margin: 0 0 32px 0;
	width: 150px;
}
.div_ul {
	border-top: 1px solid #EFEFEF;
}
li {
	list-style: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 28px;
	color: #828282;
	margin-left: -40px;
}
a:hover {
	color: #000000;
	text-shadow: 2px 2px #F13C6E;
}
.text0 {
	font-size: 0;
	padding-bottom: 18px;
}
.footer_padding_one {
	padding: 69px 0 0 0px;
	flex: 0 1 50%;
	display: flex;

}
.footer_padding_two {
	padding: 69px 0 0 0px;
	flex: 0 0 50%;
}
.top_border {
	border-top: 1px solid #EFEFEF;
}
.footer_nav_items {
	width: auto;
	height: auto;
}
.div_for_images {
    border: 2px solid #F13C6E;
    border-radius: 50%;
    margin-right: 20px;
    width: 40px;
	height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_extra_information {
    display: flex;
    align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.banner_wrapper {
	display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0 0 0;
	row-gap: 25px;
}
.footer_span {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #828282;
    padding: 1.5% 0 1.5% 0;
}
img {
	stroke-linecap: butt;
	stroke-width: 5px;
}
.footer_wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
@media screen and (max-width: 1140px) {
	.card, .impuls {
		flex: 0 1 33%;
	}
	.items_card {
		justify-content: space-around;
	}
}
@media screen and (max-width: 1138px) {
	.right, .left {
		flex: 1 1 100%;
	}
	.right {
		margin-top: 2%;
	}
	.pink_cards {
    display: flex;
	flex-wrap: wrap;
	}
	.footer_extra_information {
		flex-direction: column;
	}
}
@media screen and (max-width: 1047px) {
	.footer_item {
		flex: 0 1 33.3%;
	}
	.footer_item-wrapper {
		justify-content: center
	}
	.footer_item {
		align-items: center;
	}
	.footer_h3 {
		margin-left: 24%;
	}
}
@media screen and (max-width: 769px) {
	.card, .impuls, .footer_item {
		flex: 0 1 50%;
	}
	.h2_special_offer {
		text-align: center;
	}
	.banner_wrapper {
		align-items: center;
	}
	.float-left, .float-right {
		flex: 0 1 100%;
	}
	.header_middle-wrapper {
		align-items: center;
		flex-direction: column;
	}
	.footer_wrapper {
		flex-direction: column;
		align-items: center;
	}
}
@media screen and (max-width: 636px) {
	.footer_span {
		text-align: center;
	}
	.footer_padding_two {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		align-items: center;
	}
	.header_middle_fl_r_button {
		margin-left: 0;
	}
	.float-right {
		flex-direction: column;
		row-gap: 20px;
	}
}
@media screen and (max-width: 600px) {
	.card, .impuls, .footer_item {
		flex: 0 1 100%;
	}
	.card_pink-wrapper-rigth-image {
		content: none;
	}

}
